# Exercise 2.4

#### 1. Create and store a vector that contains the following, in this order: a sequence of length 5 from 3 to 6 (inclusive), a twofold repetition of the vector c(2,-5.1,-33), the value 7/42 + 2

In [11]:
ex1 <- c(seq(from=3, to=6, length.out=5), rep(c(2, -5.1, -33), times=2), 7/42 + 2)
ex1

 [1]   3.000000   3.750000   4.500000   5.250000   6.000000   2.000000
 [7]  -5.100000 -33.000000   2.000000  -5.100000 -33.000000   2.166667

#### 2. Extract the first and last elements of your vector, storing them as a new object.

In [12]:
new_obj <- ex1[c(1, length(ex1))]
new_obj

[1] 3.000000 2.166667

#### 3. Store as a third object the values returned by omitting the first and last values of your original vector.

In [13]:
new_obj2 <- ex1[-c(1, length(ex1))]
new_obj2

 [1]   3.75   4.50   5.25   6.00   2.00  -5.10 -33.00   2.00  -5.10 -33.00

#### 4. Reconstruct ex1 with new_obj and new_obj2.

In [14]:
c(new_obj[1], new_obj2, new_obj[length(new_obj)])

 [1]   3.000000   3.750000   4.500000   5.250000   6.000000   2.000000
 [7]  -5.100000 -33.000000   2.000000  -5.100000 -33.000000   2.166667

#### 5. Overwrite ex1 with a sorted version of the vector from smallest to largest.

In [15]:
ex1 <- sort(ex1, decreasing=FALSE)
ex1

 [1] -33.000000 -33.000000  -5.100000  -5.100000   2.000000   2.000000
 [7]   2.166667   3.000000   3.750000   4.500000   5.250000   6.000000

#### 6. Compare the colon notation and sort with decreasing=TRUE as a way of sorting the vector.

In [16]:
ex1[length(ex1):1]
sort(ex1, decreasing=TRUE)

 [1]   6.000000   5.250000   4.500000   3.750000   3.000000   2.166667
 [7]   2.000000   2.000000  -5.100000  -5.100000 -33.000000 -33.000000

 [1]   6.000000   5.250000   4.500000   3.750000   3.000000   2.166667
 [7]   2.000000   2.000000  -5.100000  -5.100000 -33.000000 -33.000000

#### 7. Create a vector from new_obj2 that repeats the third element three times, the sixth four times, and the last once.

In [17]:
new_obj3 <- c(rep(new_obj2[3], times=3), rep(new_obj2[6], times=4), new_obj2[length(new_obj2)])
new_obj3

[1]   5.25   5.25   5.25  -5.10  -5.10  -5.10  -5.10 -33.00

#### 8. Create a new vector as a copy of ex1 by assigning ex1 as is to a newly named object. Using this new copy , overwrite the first, the fifth to the seventh (inclusive), and the last element with the values 99 to 95 (inclusive), respectively.

In [20]:
copy_ex1 <- ex1
copy_ex1
length(copy_ex1)
copy_ex1[c(1, 5:7, length(copy_ex1))] <- 99:95
copy_ex1
length(copy_ex1)

 [1] -33.000000 -33.000000  -5.100000  -5.100000   2.000000   2.000000
 [7]   2.166667   3.000000   3.750000   4.500000   5.250000   6.000000

[1] 12

 [1]  99.00 -33.00  -5.10  -5.10  98.00  97.00  96.00   3.00   3.75   4.50
[11]   5.25  95.00

[1] 12